APP_NAME=cart-service
APP_DEBUG=true

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=cartdb
DB_USERNAME=appuser
DB_PASSWORD=apppassword

SESSION_DRIVER=file
CACHE_STORE=file
QUEUE_CONNECTION=sync